@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<!--By using the ViewBag title property we've prevented the unnecessary duplication of the 
    string literal, ComicBooks-->
<h2>@ViewBag.Title</h2>

<div class="row">
    <!--Our array of comicBooks is available to us via the view's model property -->
    @foreach (var comicBook in Model) 
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comicBook.DisplayText, "Detail", new { id = comicBook.Id })</h4>
            <a href="@Url.Action("Detail", new { id = comicBook.Id})">
            <img src="/Images/@comicBook.CoverImageFileName"
                 alt="@comicBook.DisplayText"
                 class="img-responsive" />
            </a>
        </div>
    }


</div>



